.movie {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-content: flex-start;
    margin: 15px 10px;
    padding: 10px;
    height: 100vh;
    overflow: auto;
    /* border-color: lightgrey;
    border-width: 1px;
    border-style: solid; */
}

.buttonRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 250px;
    justify-content: center;
    align-content: flex-start;
    padding: 5px 2px;
}

.poster {
    /* height: 330px; */
    width: 250px;
}

.releaseBox {
    width: 100%;
    padding: 10px 25px;
}

.title {
    font-weight: 700;
    text-align: center;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.label {
    font-weight: 700;
    text-align: center;
    min-height: 50px;
}

.row {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.date {
    width: 100%;
    font-weight: 500;
    text-align: center;
    min-height: 50px;
}

.overview {
    font-weight: 400;
    text-align: center;
    min-height: 50px;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

.list {
    width: 100%;
}
